<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" aria-labelledby="cardheader">
                <h4 class="card-title" >Concur Invoice</h4>
                <p class="card-category">Automate AP management to be more efficient, increase profitability, and get more visibility into spending.</p>
            </div>
            <div class="card-body" >
                Automate AP management and help your business thrive
                Vendor payments can impact profitability just as much as revenue. Yet, many businesses continue to use inefficient manual processes to manage AP. By automating invoice management, your business can get more visibility into spending, reduce tedious tasks, and improve your bottom line.
                
                Control costs by getting ahead of vendor spending
                Increase compliance and reduce fraud
                Give employees mobile tools so they can work anywhere
                Capture data and make better business decisions
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                      <div class="card-icon">
                        <i class="material-icons">assignment</i>
                      </div>
                      <h4 class="card-title">Three-way matching</h4>
                    </div>
                    <div class="card-body">
                        Automatic two- and three-way matching allows your business to resolve discrepancies in invoices, POs, and receivables and avoid overcharges.
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">info</i>
                            <a href="https://www.concur.com/en-us/three-way-match" target="_blank">Learn more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                      <div class="card-icon">
                        <i class="material-icons">schedule</i>
                      </div>
                      <h4 class="card-title">Reduce data entry and save time</h4>
                    </div>
                    <div class="card-body">
                        Automating processes and leveraging machine learning means less data entry, fewer errors, and more efficiency.
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">info</i>
                            <a href="https://www.concur.com/en-us/invoice-processing" target="_blank">Learn more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                      <div class="card-icon">
                        <i class="material-icons">computer</i>
                      </div>
                      <h4 class="card-title">Make data-informed decisions</h4>
                    </div>
                    <div class="card-body">

                        Predefined reports, dashboards, and metrics give you a full view into spending and help you better manage cash flow.                                                </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">info</i>
                            <a href="https://www.concur.com/en-us/business-intelligence" target="_blank">Learn more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                      <div class="card-icon">
                        <i class="material-icons">account_balance</i>
                      </div>
                      <h4 class="card-title">Integrate with payment providers</h4>
                    </div>
                    <div class="card-body">
                        Integrate Concur Invoice with payment providers for simple, secure, and streamlined vendor payments.
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">info</i>
                            <a href="https://www.concur.com/en-us/invoice-processing" target="_blank">Learn more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video start -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card">
                   
                    <div class="card-body">
                        <iframe width="420" height="250"
                        src="https://www.youtube.com/embed/srh3HNCPb8M">
                        </iframe>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">info</i>
                            <a href="https://www.concur.com/en-us/three-way-match" target="_blank">Learn more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card">
                   
                    <div class="card-body">
                        <div>
                            <button class="btn btn-info btn-block btn-fill" data-toggle="modal" data-target="#buy">
                                Download the guide
                            </button>
                            <button class="btn btn-warning btn-block btn-fill" data-toggle="modal" data-target="#buy">
                                Contact Us
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!-- Video ends -->

        </div>

        
    </div>
   
  </div>
 