<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Invoice Capture</h4>
                <p class="card-category">Eliminate the hassle of paper invoices and speed up the accounts payable process.</p>
            </div>
            <div class="card-body">
                AP teams waste a lot of time sorting, scanning, and entering data from paper invoices. With Invoice Capture, your organization can eliminate tedious data entry, improve accuracy, and accelerate invoice turnaround times.

                Vendors send invoices to Concur Invoice either by email, mail or electronically
                Data like vendor name, invoice number, date, PO number, and more is captured using OCR technology
                Captured invoice data is validated by SAP Concur
                The invoice is routed for approval and payment
            </div>
        </div>
        <div class="row">
            
            <!-- Video start -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card">
                   
                    <div class="card-body">
                        <iframe width="420" height="250"
                        src="https://www.youtube.com/embed/vq_j_XOwZ4U">
                        </iframe>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">info</i>
                            <a href="https://www.concur.com/en-us/three-way-match" target="_blank">Learn more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card">
                   
                    <div class="card-body">
                        <div>
                            <button class="btn btn-info btn-block btn-fill" data-toggle="modal" data-target="#buy">
                                Download the guide
                            </button>
                            <button class="btn btn-warning btn-block btn-fill" data-toggle="modal" data-target="#buy">
                                Contact Us
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!-- Video ends -->

        </div>

        
    </div>
   
  </div>
 